# Core dependencies
ultralytics>=10.0.0
opencv-python-headless>=4.9.0.80
numpy>=1.26.4
Pillow>=10.2.0


# Web dependencies
flask>=3.0.2
flask-cors>=4.0.0
python-dotenv>=1.0.1
gunicorn>=21.2.0

# Data processing
matplotlib>=3.8.3
pandas>=2.2.1
PyYAML>=6.0.1

# Optional dependencies
requests>=2.31.0

